In [88]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.impute import SimpleImputer

In [89]:
df_train = pd.read_csv("train.csv")
df_test = pd.read_csv("test.csv")

In [90]:
df_train

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,0,1,"Partner, Mr. Austen",male,45.5,0,0,113043,28.5000,C124,S
1,0,2,"Berriman, Mr. William John",male,23.0,0,0,28425,13.0000,NaN,S
2,0,3,"Tikkanen, Mr. Juho",male,32.0,0,0,STON/O 2. 3101293,7.9250,NaN,S
3,0,3,"Hansen, Mr. Henrik Juul",male,26.0,1,0,350025,7.8542,NaN,S
4,0,3,"Andersson, Miss. Ebba Iris Alfrida",female,6.0,4,2,347082,31.2750,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...
707,1,3,"Salkjelsvik, Miss. Anna Kristine",female,21.0,0,0,343120,7.6500,NaN,S
708,0,1,"Cairns, Mr. Alexander",male,NaN,0,0,113798,31.0000,NaN,S
709,0,3,"Hansen, Mr. Claus Peter",male,41.0,2,0,350026,14.1083,NaN,S
710,1,1,"Carter, Miss. Lucile Polk",female,14.0,1,2,113760,120.0000,B96 B98,S
711,0,1,"White, Mr. Richard Frasar",male,21.0,0,1,35281,77.2875,D26,S

In [91]:
df_train=df_train.drop(['Name'], axis=1)
df_train=df_train.drop(['Ticket'], axis=1)
df_test=df_test.drop(['Name'], axis=1)
df_test=df_test.drop(['Ticket'], axis=1)

In [92]:
feature_columns=['Sex','Embarked','Pclass','Age','SibSp','Parch','Fare']
label_columns="Survived"

X_train=df_train.loc[:,feature_columns]
y_train=df_train.loc[:,label_columns]
X_test=df_test.loc[:,feature_columns]
y_test=df_test.loc[:,label_columns]

In [93]:
X_train.isnull().sum()

Sex           0
Embarked      2
Pclass        0
Age         140
SibSp         0
Parch         0
Fare          0
dtype: int64

In [94]:
X_test.isnull().sum()

Sex          0
Embarked     0
Pclass       0
Age         37
SibSp        0
Parch        0
Fare         0
dtype: int64

In [95]:
y_test.isnull().sum()

0

In [96]:
X_train=X_train.values
name_imputer1=SimpleImputer(np.nan,strategy="mean")
X_train[:,3]=name_imputer1.fit_transform(X_train[:,3].reshape(-1,1)).ravel()

In [97]:
X_test=X_test.values
name_imputer2=SimpleImputer(np.nan,strategy="mean")
X_test[:,3]=name_imputer2.fit_transform(X_test[:,3].reshape(-1,1)).ravel()

In [98]:
name_imputer3=SimpleImputer(np.nan,strategy="most_frequent")
X_train[:,1]=name_imputer3.fit_transform(X_train[:,1].reshape(-1,1)).ravel()

In [99]:
label_encoder= LabelEncoder()
X_train[:,0]=label_encoder.fit_transform(X_train[:,0])
X_train[:,1]=label_encoder.fit_transform(X_train[:,1])

X_test[:,0]=label_encoder.fit_transform(X_test[:,0])
X_test[:,1]=label_encoder.fit_transform(X_test[:,1])

In [100]:
from sklearn.preprocessing import StandardScaler, MinMaxScaler
minmax=MinMaxScaler()
X_train[:,2]=minmax.fit_transform(X_train[:,2].reshape(-1,1)).ravel()
X_train[:,3]=minmax.fit_transform(X_train[:,3].reshape(-1,1)).ravel()
X_train[:,4]=minmax.fit_transform(X_train[:,4].reshape(-1,1)).ravel()
X_train[:,5]=minmax.fit_transform(X_train[:,5].reshape(-1,1)).ravel()
X_train[:,6]=minmax.fit_transform(X_train[:,6].reshape(-1,1)).ravel()

X_test[:,2]=minmax.fit_transform(X_test[:,2].reshape(-1,1)).ravel()
X_test[:,3]=minmax.fit_transform(X_test[:,3].reshape(-1,1)).ravel()
X_test[:,4]=minmax.fit_transform(X_test[:,4].reshape(-1,1)).ravel()
X_test[:,5]=minmax.fit_transform(X_test[:,5].reshape(-1,1)).ravel()
X_test[:,6]=minmax.fit_transform(X_test[:,6].reshape(-1,1)).ravel()

In [180]:
from sklearn.tree import DecisionTreeClassifier

classifier = DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='entropy',
                       max_depth=None, max_features=None, max_leaf_nodes=10,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=5,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=0, splitter='best')

classifier.fit(X_train, y_train)

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='entropy',
                       max_depth=None, max_features=None, max_leaf_nodes=10,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=5,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=0, splitter='best')

In [181]:
predictions = classifier.predict(X_test)

from sklearn.metrics import accuracy_score

In [182]:
print("Accuracy_score:", accuracy_score(y_test, predictions))

Accuracy_score: 0.8100558659217877